<header>
    <nav>
        <a href="/">MyGames</a>
        <ul>
            <li><a href="/companies">Comapnies</a></li>
            <li><a href="/companies/new">Add Companies</a></li>      
            <li><a href="/games">Games</a></li>
            <li><a href="/games/new">Add Game</a></li>
        </ul>
    </nav>
</header>