<h2>Edit Comany</h2>
<form action="/companies/<%= company.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %> 
    <a href="/companies/<%= company.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>
