<h2 class="page-header">New Comany</h2>
<form action="/companies" method="POST">
    <%- include('_form_fields') %> 
    <a href="/companies">Cancel</a>
    <button type="submit">Create</button>
</form>
