<h2><%= company.name %></h2>
<a href="/companies/<%= company.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/companies/${company.id}` }) %>

<% if(gamesByCompany.length > 0) { %>
    <h2>Games By Company</h2>
    <% gamesByCompany.forEach(game => { %>
        <img src="<%= game.coverImagePath %>" height="150" width="100">
    <% }) %>
<% } %>